<div>
  <h1 mat-dialog-title>Dicas admissão</h1>
  <div mat-dialog-content class="mat-dialog-content txt-justify">
    "Sou um desenvolvedor frontend com ampla experiência em Angular, conhecido por minha determinação e inteligência na
    resolução de desafios complexos. Minha carreira é marcada por um compromisso inabalável com a excelência, aliado a
    uma notável pontualidade e comprometimento com a entrega de projetos de alta qualidade.
    Minha habilidade em Angular é uma força que impulsiona a precisão e eficiência em todas as tarefas que executo. Cada
    linha de código que escrevo é elaborada com minúcia e rapidez, refletindo minha dedicação em atender e superar as
    expectativas.
    Acredito firmemente que meu histórico e minha paixão pela programação, aliados ao meu compromisso inigualável, me
    tornam um candidato excepcional para integrar a equipe da sua empresa. Estou ansioso para contribuir com meu talento
    e experiência para impulsionar o sucesso dos projetos e objetivos da organização.
    Obrigado pela consideração e pela oportunidade de fazer parte desta equipe."
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>Fechar</button>
  </div>
</div>
